.main {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: brightness(0.7);
    }
    &__inner {
        padding: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 20px;
        width: fit-content;
        max-width: 300px;
        height: fit-content;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-left: 7px;
                margin-bottom: 2px;
            }
        }
        p {
            color:  red;
            margin-top: 15px;
        }
    }
}